<?xml version="1.0"?>
<configuration>

	<appSettings>
		<add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
	</appSettings>
	<system.web>
		<compilation debug="true" targetFramework="4.7.2" />
		<httpRuntime targetFramework="4.7.2"/>
	</system.web>
	<system.serviceModel>

		<!-- Required for HTTPS -->
		<bindings>
			<wsHttpBinding>
				<binding name="TransportSecurity">
					<security mode="Transport">
						<transport clientCredentialType="None"/>
					</security>
				</binding>
			</wsHttpBinding>
		</bindings>

		<services>
			<service name="Example.WcfProject.Customer" behaviorConfiguration="ExampleBehaviours">
				<endpoint name=""
						  address=""
						  binding="wsHttpBinding"
						  bindingConfiguration="TransportSecurity"
						  contract="Example.WcfProject.ICustomer"/>

				<endpoint address="mex"
						  binding="mexHttpsBinding"
						  contract="IMetadataExchange"/>
			</service>
		</services>
		<!-- Required for HTTPS -->

		<behaviors>
			<serviceBehaviors>
				<behavior name="ExampleBehaviours">
					<!-- To avoid disclosing metadata information, set the values below to false before deployment -->
					<serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
					<!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
					<serviceDebug includeExceptionDetailInFaults="true"/>
				</behavior>
			</serviceBehaviors>
		</behaviors>

		<serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
	</system.serviceModel>

	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true"/>
		<!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
		<directoryBrowse enabled="true"/>
	</system.webServer>

</configuration>
